API_ACCESS_KEY = sketk988
BOLSAI_API_KEY = sk_776e54270d4f454901bbb0c28186685f43e437e6b0837aca
BOLSAI_BASE_URL = https://api.usebolsai.com/api/v1
DEMO_MODE = false
PUBLIC_BASE_URL = https://meu-gpt-b3.onrender.com
